@font-face {
  font-family: 'lemontuesday';
  src: url('./Lemon\ Tuesday.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
  
  --font-text: 'Spoof';
  --font-logo: 'Rammetto One', 'cursive';
  --font-it: 'lemontuesday';

  --primary: #572E4F;
  --secondary: #71516b;
  --terciary: #FFA588;
}
