body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  background-color: rgba(116, 116, 116, 0.5);
  visibility: hidden;
  display: none;
}

.background-info {
  animation: fadeOut 0.3s;
}

.background-danger {

  visibility: visible;
  display: block;
}

.loading {
  display: block !important;
}

.alert {
  position: fixed;
  left: 50%;
  top: 50%;

  padding: 1rem;
  width: 18rem;

  border: 0.1rem solid transparent;
  border-radius: 0.5rem;

  transform: translate(-50%, -50%);
  animation: fadeIn 0.3s;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #fcacace0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0;
    visibility: hidden;
    display: none; }
}